<!-- -*- mode: XML -*- -->

<launch>
  <include file="$(find openni_launch)/launch/openni.launch"/>
  <node name="openni_tracker" pkg="openni_tracker" type="openni_tracker" output="screen"/>

  <!-- start tracking server -->
  <node pkg="tracking_server" type="tracking_server_node" name="tracking_server" output="screen" />

  <node name="arm_tracker" pkg="telerobot" type="arm_tracker" output="screen"/>
  <node name="grabber" pkg="telerobot" type="grabber" output="screen"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find telerobot)/conf/telerobotRviz.rviz"/>

</launch>
